flask==2.3.2
flask-cors==4.0.0
rdflib==6.3.2
SPARQLWrapper==2.0.0
elasticsearch==7.17.9
Pillow==10.0.0
requests==2.31.0
python-multipart==0.0.6
gunicorn==21.2.0
flask-restx==1.1.0
flasgger==0.9.7.1
marshmallow==3.20.1